/* * {font-family: "Linux Biolinum G";} */
* {font-family: "DejaVu Sans Mono";}
/* * {font-family: "Marker Felt";} */

:root {
    --color1: #0068B2;
}

.project-tasks ul, .service-tasks ul {
    list-style: none;
    padding: 0;
}
.project-tasks ul li, .service-tasks ul li {
    padding-left: 28px;
    position: relative;
}
.project-tasks ul li+li, .service-tasks ul li+li {
    margin-top: 10px;
}
.project-tasks ul i, .service-tasks ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: var(--color1);
    line-height: 1;
}

.container-flex {
    background-color: #f8f9fa;
    /* padding: 1%;
    margin: 2%; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}

.container-flex h2 {
    /* font-size: 32px;
    font-weight: 600; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
  .container-flex h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background: var(--color1);
    left: 0;
    right: 0;
    bottom: 0;
}

.project i, .service i {
    position: relative;
    top: 5px;
    font-size: 32px;
}
