<!DOCTYPE html>
<html lang="{{ general['SEO'].language }}">

<head>

    {% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <title>{{ general['SEO'].title }}</title>
    <meta name="description" content="{{ general['SEO'].discription }}"/>

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-md bg-light">
            <a class="navbar-brand ps-2 mx-0" href="{{ url_for('.index') }}">
                <img src="{{ url_for('static', filename='img/logo_full.png') }}" alt="Logo" style="max-height: 40px">
            </a>
            <p class="navbar-logo pe-3">WCD</p>
            <ul class="navbar-nav ms-auto d-sm-flex d-md-none">
              <li class="nav-item m-1">
                  <a href="/"><img src="{{ url_for('static', filename='img/rus.png') }}"
                          style="max-height: 30px" class="img-fluid"></a>
                  <a href="/en"><img src="{{ url_for('static', filename='img/eng.png') }}"
                          style="max-height: 30px" class="img-fluid"></a>
              </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>       
            <div class="collapse navbar-collapse pt-2" id="navbarSupportedContent">
                
                <ul class="navbar-nav me-auto mb-lg-0">
                    {% for menu in general['Menu'] %}
                        {% if menu.button_type == 'menu' and not menu.parent %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ menu.url }}">{{menu.title}}</a>
                            </li>
                        {% elif menu.button_type == 'dropmenu' and not menu.parent %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="{{ menu.url }}" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{menu.title}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for dropmenu in general['Menu'] %}
                                    {% if dropmenu.parent == menu.url_name %}
                                    <li><a class="dropdown-item" href="{{ dropmenu.url }}">{{dropmenu.title}}</a></li>
                                    {% endif %}
                                {% endfor -%}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <ul class="navbar-nav ms-auto mx-3 d-md-flex d-none align-items-center">
              <li class="nav-item m-1">
                  <a href="/"><img src="{{ url_for('static', filename='img/rus.png') }}"
                          style="max-height: 30px" class="img-fluid"></a>
                  <a href="/en"><img src="{{ url_for('static', filename='img/eng.png') }}"
                          style="max-height: 30px" class="img-fluid"></a>
              </li>
            </ul>
        </nav>

        {% block header %}

        {% if general['SEO'].language == 'ru' %}
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content bg-light">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modal">Оставьте заявку и мы с вами свяжемся</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <form action="{{ url_for('email') }}" method="post">
                                   
                          <div class="mb-3">
                            <label for="InputTextarea1" class="form-label">Контакты для связи</label>
                            <textarea class="form-control" name="contacts" id="InputTextarea1" rows="2"></textarea>
                          </div>
          
                          <div class="mb-3">
                            <label for="InputTextarea1" class="form-label">Текст заявки</label>
                            <textarea class="form-control" name="text" id="InputTextarea1" rows="3"></textarea>
                          </div>
          
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="checkboxHeader" name="checkbox" checked
                              required>
                            <label class="form-check-label small" for="checkboxHeader">Принимаю условия «Политики конфиденциальности»</label>
                          </div>
          
                          <button type="submit" name="submit" id="submitHeader" class="btn btn-primary">Отправить</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% elif general['SEO'].language == 'en' %}
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content bg-light">
              <div class="modal-header">
                <h5 class="modal-title" id="Modal">Send order and we call to you</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <form action="{{ url_for('.email') }}" method="post">
                        
                        <div class="mb-3">
                          <label for="InputTextarea1" class="form-label">Your contacts</label>
                          <textarea class="form-control" name="contacts" id="InputTextarea1" rows="2"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="InputTextarea1" class="form-label">Text</label>
                          <textarea class="form-control" name="text" id="InputTextarea1" rows="3"></textarea>
                        </div>
        
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="checkboxHeader" name="checkbox" checked
                            required>
                          <label class="form-check-label small" for="checkboxHeader">I accept the terms of "The user agreement"</label>
                        </div>
        
                        <button type="submit" name="submit" id="submitHeader" class="btn btn-primary">Send</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% endblock %}
    
        {% for category, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{category}} alert-dismissible fade show text-center m-0" role="alert">
          <button type="button" class="btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ msg }}
        </div>
        {% endfor %}
    </header>

    <main class="content">
        {% block body %}{% endblock %}
    </main>  

</body>

<footer class="text-muted border-top bg-light">
  <div class="d-flex ms-5 py-5">
      WorldCadabra · © 2022
  </div>
</footer>

</html>