<!DOCTYPE html>
<html lang="ru">

<head>

    {% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <title>{{title}}</title>

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-md bg-light">
            <a class="navbar-brand" href="{{ url_for('.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo.png" style="max-height: 40px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>       
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav me-auto mb-lg-0">
                    {% for menu in cont[0] %}
                        {% if menu.button_type == 'menu' and not menu.parent %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ menu.url }}">{{menu.title}}</a>
                            </li>
                        {% elif menu.button_type == 'dropmenu' and not menu.parent %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="{{ menu.url }}" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{menu.title}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for dropmenu in cont[0] %}
                                    {% if dropmenu.parent == menu.url_name %}
                                    <li><a class="dropdown-item" href="{{ dropmenu.url }}">{{dropmenu.title}}</a></li>
                                    {% endif %}
                                {% endfor -%}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item m-1">
                        <a href="/"><img src="{{ url_for('static', filename='img/rus.png') }}"
                                style="max-height: 30px" class="img-fluid"></a>
                        <a href="/en"><img src="{{ url_for('static', filename='img/eng.png') }}"
                                style="max-height: 30px" class="img-fluid"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}


</body>

</html>