{% extends "layout.html" %}

{% block body %}

<div class="container-flex project my-4 p-3 mx-md-4">
    <h2 class="fw-bold">Разработка и продвижение сайта электротехнической экспертизы</h2>
    <div class="row">
        <div class="col-md-4 col-sm-12 p-4 text-center">
            <img src="/static/img/project_1_main.jpg" class="img-fluid" alt="Разработка веб-приложений">
        </div>
        <div class="col-md-8 col-sm-12 p-4">
            <p>
                Главной задачей проекта являлось создание продающего сайта и привлечение зявок на электротехническую экспертизу.
                Бесплатное ведение рекламных компаний по модели CPA (оплата только за привлеченных клиентов). Адаптация сайта под запросы рекламных компаний, чтобы потенциальные клиенты
                попадали на страницы с информацией, которую они искали
            </p>
            <hr class="col-5 col-md-3 mb-3">
                <i class="bi bi-globe2"> </i><a href="https://eg-expert.ru/" target="_blank">Ссылка на проект</a><br>
                <i class="bi bi-github"> </i><a href="https://github.com/Denis-Bez/MyRepose" target="_blank">Ссылка на код проекта</a><br>
                <p class="pt-3 m-0 fw-bold">УСЛУГИ:</p>
                <i class="bi bi-code-slash"> </i><a href="/services/webapp">Разработка сайтов и веб-приложений</a><br>
                <i class="bi bi-speedometer"> </i><a href="/services/ads">Контекстная реклама</a>
            
        </div>
    </div>
</div>

<div class="container-flex project project-tasks my-4 p-3 mx-md-4">
    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            {{ content.short_discription|safe }}
        </div>
        <div class="col-md-6 col-sm-12 p-4 border-start">
            <p class="fs-5 col-md-8">Функционал и особенности веб-приложения:</p>
            <ul>
              <li class="fw-bold"><i class="bi bi-gear"></i>Адаптивный дизайн. 37 отдельных страниц</li>
              <li class="fw-bold"><i class="bi bi-gear"></i>Ориентированная на пользователя форма заявки (посетитель может быстро, без ввода капчи заполнить и отправить заявку на услуги компании)</li>
              <li class="fw-bold"><i class="bi bi-gear"></i>Настраиваемый спам фильтр(возможность тонкой настройки по различным критериям)</li>
              <li class="fw-bold"><i class="bi bi-gear"></i>Всплывающие уведомления в случае ошибки, успешной отправки заявки или обнаружения спама</li>
              <li class="fw-bold"><i class="bi bi-gear"></i>Настройка по  чтового сервера, рассылка автоматического уведомления клиенту на почту в случае оправки заявки</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img src="/static/img/project_1_scheme_ru.jpg" class="img-fluid" alt="Схема веб-приложения">
        </div>
    </div>
</div>

<div class="container-flex project project-tasks my-4 p-3 mx-md-4">
    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            <p class="fs-5 col-md-8">Применяемые технологии:</p>
            <ul>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Язык программирования Python 3.10</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Веб-фреймворк Flask</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Шаблонизатор Jinja2</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Набор инструментов Werkzeug</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Фреймворк Bootstrap 5</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>CSS, HTML</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 p-4 border-start">
            <p class="fs-5 col-md-8">Результаты:</p>
            <ul>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Окупаемость вложений через 2 месяца</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Среднее количество целевых заявок в месяц: 11</li>
              <li class="fw-bold"><i class="bi bi-circle-fill"></i>Средняя стоимость привлечения целевой заявки: 550 р. с НДС</li>
            </ul>
        </div>
    </div>

</div>



{% endblock %}